<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBAOUYEuAl3zGPEaBZoCaG5EvodPwE1kSI</string>
	<key>GCM_SENDER_ID</key>
	<string>535008666772</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseCannect</string>
	<key>PROJECT_ID</key>
	<string>myfrebaseproject-34a00</string>
	<key>STORAGE_BUCKET</key>
	<string>myfrebaseproject-34a00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:535008666772:ios:ae641b9b4f2bf94b7a8081</string>
</dict>
</plist>